

<div *ngIf="deletedHero;else nothingWasDeleted">
    <h3>Heroe borrado <small class="text-danger">{{deletedHero}}</small>
    </h3>

</div>

<ng-template  #nothingWasDeleted>
    <h3>no ha borrado nada</h3>

</ng-template>



<button *ngIf="heroNames.length>0"
 (click)="removeLastHero()" class="btn btn-outline-danger">
    Borrar ultimo heroe
</button>


<ul class="mt-2 list-group">
    <li class="list-group-item" *ngFor="let name of heroNames">
        <strong>{{name}}</strong>
    </li>

</ul>